#about {
    height: 100vh;
    margin: 0 250px;
    box-sizing: border-box;
    align-items: center;
}

.banner-about img {
    border-radius: 5px;
    width: 100%;
}
.about-text {
    font-size: 18px;
    color: #0a0c4d;
    font-weight: 500;
    margin: 15px 0;    
}
.about-text p {
    text-indent: 15px;      
}

.store-img {
    display: flex;    
    justify-content: center;
    align-items: center;
    
}
.store-img img {
    width: 420px;
    margin-right: 100px;
}
.store-img h2 {
    font-size: 20px;
    font-family: "Orbitron", serif;
    color: var(--primary-color);
    text-align: center;
}
.review {
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in-out;   
}
.review img {
    margin: 0;
    
}

.review:hover {
    transform: scale(1.05);
}

.review a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}



@media (max-width: 359px) {
    #about {
        height: 100vh;      
        margin: 0 10px;      
    }
    .about-text {
        font-size: .6rem;
        margin: 5px 4px 0 4px;
        padding: 0;
    }
    .about-text p {
        margin: 0 0 2px 0;        
    }

    .banner-about img {
        width: 100%;
    }
    .store-img img {
        width: 50%;
    }
    .store-img h2 {
        font-size: 10px;   
        text-align: center;   
    }
    .store-img {
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: center;  
        
    }
    .store-img img {
        width: 35%;
        margin: 0;
    }
    .review img {
        width: 65%;        
    }
    .review {
        align-items: center;
    }
    .review a {
        text-align: center;
    }
}


@media (min-width: 360px) and (max-width: 780px) {
    #about {
        height: 100vh;      
        margin: 0 10px;      
    }
    
    .about-text {
        font-size: 12px;
        margin: 8px 4px 0 4px;
        padding: 0;
    }
    .about-text p {
        margin: 0 0 2px 0;
    }

    .banner-about img {
        width: 100%;
    
    }
    .store-img h2 {
        font-size: 13px;   
        text-align: center;   
    }
    .store-img {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        
    }
    .store-img img {
        width: 45%;
        margin: 0;
    }
    .review img {
        width: 90%;        
    }
    .review {
        align-items: center;
    }
    .review a {
        text-align: center;
    }

}

@media (min-width: 781px) and (max-width: 1180px) {
    #about {
        height: 100vh;      
        margin: 0 25px;      
    }
    .about-text {
        font-size: 18px;
        margin: 5px 4px 0 4px;
        padding: 0;
    }
    .store-img img {
        width: 70%;
    }
    .about-text p {
        margin-bottom: 8px;   
    }
    .store-img h2 {
        font-size: 30px;   
        text-align: center;   
    }
    .store-img {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
    .store-img img {
        width: 50%;
        margin: 0;
    }
    .review img {
        width: 80%;        
    }
    .review {
        align-items: center;
    }
    .review a {
        text-align: center;
    }
}

@media (min-width: 1181px) and (max-width: 1680px) {
    #about {
        height: 100vh;      
        margin: 0 30px;
    }
    .about-text {
        font-size: 17px;
        margin: 5px 4px 0 4px;
        padding: 0;
    }
    .store-img img {
        width: 30%;
        margin: 0;
    }
    .about-text p {
        margin-bottom: 8px;   
    }
    .store-img h2 {
        font-size: 30px;   
        text-align: center;   
    }
    .store-img {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
    .review img {
        width: 40%;        
    }
    .review {
        align-items: center;
    }
    .review a {
        text-align: center;
    }
}