
#footer {   
   bottom: 0; /* Posiciona o footer no fundo */
   left: 0; /* Começa do lado esquerdo */
   right: 0; /* Se estende até o lado direito */
   background: linear-gradient(to right, var(--primary-color) 40%, var(--secondary-color)); /* Cor de fundo do footer */
   color: white; /* Cor do texto do footer */   
   padding: 10px 0; /* Adiciona preenchimento vertical */
   position: static;
}
.text-footer {
   display: flex;
   text-align: center; /* Centraliza o texto */
   justify-content: center;
   align-items: center;
   gap: 50px;
}

.logo-code {
   width: 100px;
}

.text-footer p {
   font-size: 15px;
}
.footer-politica {
   color: var(--text-color);
   font-size: 14px;
   
}
.estado {
   font-size: 15px;
   margin: 0;
}


@media (max-width: 359px){
   #footer {
      position: static;
      padding: 5px 0;
   }
   .text-footer {
      display: flex;
      flex-direction: column;
      row-gap: 0;
      margin: 0;
      padding: 0;
   }
   .text-footer p {
      font-size: 10px;
   }
   .logo-code {
      width: 65px;
      margin-bottom: 2px;
   }
   .footer-politica {
      font-size: 11px;
      
   }
}

@media (min-width: 360px) and (max-width: 780px) {
   #footer {
      position: static;
   }
   .text-footer {
      display: flex;
      flex-direction: column;
      row-gap: 0;
      margin: 0;
      padding: 0;
   }
   .text-footer p {
      font-size: 11px;
   }
   .logo-code {
      width: 70px;
      margin-bottom: 2px;
   }
   .footer-politica {
      font-size: 12px;
      
   }
}


@media (min-width: 781px) and (max-width: 1180px) {
   .text-footer {      
      display: flex;
      row-gap: 0;
      margin: 0;
      padding: 0;
      gap: 20px;
   }
   .text-footer p {
      font-size: 12px;
   }
   .logo-code {
      width: 90px;
   }
   .footer-politica {
      font-size: 13px;      
   }
}



