
/* HEADER 游릭*/
#header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: linear-gradient(to right, var(--primary-color) 40%, var(--secondary-color));
   z-index: 900;
   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
/* HEADER 游댮*/

/* SUB BARRA DE TEXTO  IN칈CIO 游릭*/
.sub-barra {
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 1px;
   background-color: var(--text-color-secondary);   
   color: var(--primary-color);
   width: 120%; /* A largura da barra */
   overflow: hidden; /* Oculta textos que saem dos limites da barra */
   height: 25px; /* Altura da barra */
     
}

.text-wrapper {
  display: flex;
  white-space: nowrap; /* Garante que os textos fiquem em uma 칰nica linha */
  animation: marquee 45s linear infinite; /* Define a anima칞칚o do letreiro */
  
}
.text-wrapper a {
   text-decoration: none;
   color: var(--primary-color);
   font-family: "Orbitron", serif;
}

.text-slide {
  font-size: 16px; /* Tamanho da fonte */
  margin-right: 950px; /* Espa칞amento entre os textos */
  white-space: nowrap;
  font-family: "Orbitron", serif;
  font-weight: 800;
  letter-spacing: 1.9px;
}

/* Anima칞칚o de letreiro */
@keyframes marquee {
  0% {
    transform: translateX(100%); /* Come칞a fora da tela  direita */
  }
  100% {
    transform: translateX(-200%); /* Termina fora da tela  esquerda */
  }
}
/* SUB BARRA DE TEXTO  FINAL 游댮*/

/* BUTTONS IN칈CIO 游릭*/
#button__bar {    
   display: flex;
   flex-direction: column;
   row-gap: 5px;
   align-items: center;
   position: fixed;
   top: 0;
   right: 45px;
   margin: 40px 40px;
   border: 0;
   background: transparent;
   padding: 20px;
   z-index: 1000;

}


#button__bar:hover {
   cursor: pointer;   

}

#button__bar span {
   width: 30px;
   height: 4px;
   background: var(--text-color);
   border-radius: 20px;
   transition: all .9s ease;
   
}
#button__bar.active span {
   background: var(--text-color);
   
}
#button__bar:hover span  {
   background: var(--text-color-secondary);
}
#button__bar.active span:nth-child(2) {
   opacity: 0;
   width: 0px;
}
#button__bar.active span:nth-child(1) {
   transform: rotate(-45deg) translate(-10px, 3px);
}
#button__bar.active span:nth-child(3) {
   transform: rotate(45deg) translate(-9px, -3px);
}
/* BUTTONS FINAL 游댮*/

/* NAV SERVICES ITEMS IN칈CIO 游릭*/
.nav-list .nav-item {
   position: relative;
   display: inline-block;
}

.nav-list .nav-link {
   display: block;
   padding: 10px;
   color: var(--text-color);
   text-decoration: none;
}

.nav-list .sub-menu {
   display: none; /* Submenu oculto inicialmente */
   position: absolute;
   top: 100%;
   left: 0;
   background: var(--primary-color);
   min-width: 200px;
   list-style-type: none;
   padding: 10px;
   margin: 0;
   border-radius: 5px;
}
.nav-list .nav-item:hover .sub-menu {
   display: block; /* Exibe o submenu quando o item de navega칞칚o 칠 "hovered" */
}
 
.nav-list .sub-menu li {
   display: block;
}
 
 .nav-list .sub-menu li a {
   padding: 0;
   /* background-color: #555; */
   color: var(--text-color);
   text-decoration: none;
   font-size: 13px;
}
 
 .nav-list .sub-menu li a:hover {
   color: var(--text-color-secondary);
}
/* NAV SERVICES ITEMS FINAL 游댮*/

/* BARRA PRINCIPAL NAVEGA칂츾O IN칈CIO 游릭*/
.nav-bar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 75px;
   background-color: var(--primary-color);
}

.nav-list ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 40px;
   margin: 10px 0;
}

.nav-bar::after {
   content: "";
   width: 150px;
}

.nav-item a.active {
   border-bottom: 3px solid var(--text-color-secondary);
   color: var(--text-color-secondary);
   font-weight: bold;
   filter: drop-shadow(0 5px 10px rgba(255, 255, 255, 0.3));
}


.nav-item li {
   margin: 0 15px;
   gap: 20px;
}

.nav-item a {
   text-decoration: none;
   color: var(--text-color);
   font-size: 21px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
}

.nav-item a:hover {
   border-bottom: 2px solid var(--text-color-secondary);
   filter: drop-shadow(0 5px 10px rgba(255, 255, 255, 0.3));
   color: var(--text-color-secondary);
}

.nav-item a:active {
   border-bottom: 2px solid var(--text-color-secondary);
   filter: drop-shadow(0 5px 10px rgba(255, 255, 255, 0.3));
   color: var(--text-color-secondary);   
}
/* BARRA PRINCIPAL NAVEGA칂츾O FINAL 游댮*/




/* LOGO DA LOJA IN칈CIO 游릭 */
.logo img {
   width: 150px;
   filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 1.5)); /* Valor de sombra corrigido */
   margin-left: 20px;
   
}
/* LOGO DA LOJA FINAL 游댮 */


/* MOBILE MENU  IN칈CIO 游릭*/

.mobile-menu {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 500px;
   background: linear-gradient(to right, var(--primary-color) 40%, var(--secondary-color));
   z-index: 900;
   justify-content: center;
   align-items: center;
   text-align: center;
   animation: backmove 1s ease-in-out;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
}
@keyframes backmove {
   0% {
      top: -100%;
      opacity: 0;
   }
   100% {
      opacity: 1;
      
   }
}

.mobile-menu.visible {
   display: flex;
}

.mobile-menu ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.mobile-menu .nav-item {
   margin: 15px 0;
}

.mobile-menu .nav-link {
   color: var(--text-color);
   text-decoration: none;
   font-size: 1.5rem;
   transition: color 0.3s ease;
}

.mobile-menu .nav-link:hover {
   color: var(--text-color-secondary);
}

#button__bar {
   display: none;
}
/* MOBILE MENU FINAL  游댮*/


@media (max-width: 359px) {
   .sub-barra {
      height: 15px;
      width: 200%;
   }
   .text-slide {
      font-size: 8px;
      margin-right: 150px;
      letter-spacing: 1.9px;
   }
   .text-wrapper {
      animation: marquee 35s linear infinite; 
   }
   .nav-bar {
      height: 55px;
   }

   .nav-list {
      display: none;
   }
   .mobile-menu .nav-item a {
      font-size: 15px;
   }   

   #button__bar {
      right: 20px;
      top: 12px;
      margin: 0;
      display: flex;
      z-index: 1000;
   }
   .mobile-menu.visible {
      display: flex;
      height: 350px;
   }
   .logo img {
      width: 80px;
      filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 1.5)); 
   }
}


@media (min-width: 360px) and (max-width: 780px) {
   .sub-barra {
      height: 18px;
      width: 200%;
   }
   .text-slide {
      font-size: 10px;
      margin-right: 200px;
      letter-spacing: 1.9px;
   }
   .text-wrapper {
      animation: marquee 25s linear infinite; 
   }
   .nav-bar {
      height: 55px;
   }

   .nav-list {
      display: none;
   }
   .mobile-menu .nav-item a {
      font-size: 17px;
   }   

   #button__bar {
      right: 20px;
      top: 12px;
      margin: 0;
      display: flex;
      z-index: 1000;
   }
   .mobile-menu.visible {
      display: flex;
      height: 350px;
   }
   .logo img {
      width: 100px;
      filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 1.5)); 
   }

   
   
}





















