

#home {
   height: 100vh;
   margin: 0 250px;
   box-sizing: border-box;
}

/* CAROLSEL IN칈CIO 游릭*/
.carousel-banner {
   position: relative;
   overflow: hidden;
   border-radius: 5px;
}

.carousel-banner-inner {
   display: flex;
   transition: transform 0.5s ease-in-out;
}

.carousel-banner-item {
   width: 100%;
   flex-shrink: 0;
}

.carousel-banner-control {
   position: absolute;
   top: 40%;   
   background: rgba(0, 0, 0, 0.1);
   color: var(--text-color);
   border: none;
   border-radius: 5px;
   padding: 10px;
   cursor: pointer;
   font-size: 20px;
   z-index: 10;
}

.prev-banner {
   left: 10px;
}

.next-banner {
   right: 10px;
}
/* CARROSSEL BANNER FIM 游댮*/


/* BANNER BRANDS IN칈CIO 游릭*/
.banner-brands { 
   margin: 10px 0;
}
.banner-brands img {
   border-radius: 5px;
   width: 100%;
}

/* BANNER REDES FIM 游댮*/

/* BRANDS MOBILE IN칈CIO 游릭*/
.banner-brands-mobile {
   display: none;
   margin: 10px 0;
}
.banner-brands-mobile img {
   width: 100%;
   border-radius: 5px;
}

/* BRANDS MOBILE FIM 游댮*/

/* CARROSSEL PICTURE IN칈CIO 游릭*/
.carrossel {
   display: flex;
   overflow: hidden;
   background: linear-gradient(to right, var(--primary-color), var(--secondary-color) 80%);   
   padding: 4px 0;
   position: relative;
   border-radius: 5px;
   width: 100%;
}
.carrossel-inner {
   display: flex;
   transition: transform 0.3s ease-in-out; /* Suaviza a transi칞칚o */
   width: 20%;
}

.carrossel-item {
   min-width: 100%; 
   box-sizing: border-box;
   padding: 5px;
}

.carrossel-item img {
   width: 100%;
   height: auto;
   display: block;
   border-radius: 5px;
}
.carrossel-item:hover {
   transform: scale(1.05);
   cursor: pointer;
}

.prev, .next {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: rgba(0, 0, 0, 0.5);
   border: none;
   border-radius: 5px;
   cursor: pointer;
   padding: 10px;
   color: var(--text-color);
}

.prev {
   left: 10px;
}

.next {
   right: 10px;
}

/* Estilo do Modal */
.modal {
   display: none; /* Oculto por padr칚o */
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.8);
   justify-content: center;
   align-items: center;
}

.modal img {
   max-width: 85%;
   max-height: 85%;
   border-radius: 5px;
}

.close {
   position: absolute;
   top: 40px;
   right: 80px;
   font-size: 90px;
   color: rgb(255, 255, 255);
   cursor: pointer;
}
/* CARROSSEL PICTURE FINAL 游댮*/


/* LOCALIZA칂츾O IN칈CIO 游릭*/

.localization {
   margin: 20px 40px;
}
/* LOCALIZA칂츾O FIM 游댮*/


/* BOT츾O WPP IN칈CIO 游릭*/
#whatsapp-button {
   position: fixed;
   bottom: 110px;
   right: 50px;
   z-index: 1000;
   width: 8%;
   /* height: 60%; */
   
}


@keyframes move {
   0% {
      transform: scale(1);
   }
   100% {
      transform: scale(1.02);
   }
}
 
#whatsapp-button a img {
   width: 120%;
   height: 120%;
   filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.3));
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   animation: move 2s ease-in-out infinite alternate;
}
/* BOT츾O WPP FINAL 游댮*/


.banner-mobile-media {
   margin: 10px 0;
   display: none;
}
.banner-mobile-media img {
   width: 100%;
   border-radius: 5px;
}
.banner-mobile-media:hover {
   cursor: pointer;
}



@keyframes fadeIn {
   from {
      opacity: 0;
      transform: translateY(50px); /* Posi칞칚o inicial (mais abaixo) */
   }
   to {
      opacity: 1;
      transform: translateY(0); /* Posi칞칚o final (no lugar certo) */
   }
}
/* COOKIE FIM 游댮*/

/* POPUP V칈DEO 游릭*/
.popup {
   position: fixed;
   top: 0; left: 0;
   width: 100%; height: 100%;
   background: rgba(0, 0, 0, 0.4);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}
.popup-content {
   background: white;
   padding: 10px;
   border-radius: 5px;
   position: relative;
   max-width: 33%;
}
.popup-content video {
   width: 100%;
   border-radius: 5px;
}
.close-btn {
   position: absolute;
   top: 10px; right: 10px;
   background: rgba(197, 0, 0, 0.8);
   color: white;
   font-size: 24px;
   border: none;
   padding: 8px;
   cursor: pointer;
   border-radius: 5px;
   z-index: 1002;
   animation: moveBot 2s ease-in-out alternate;
   margin: 3px;
   font-weight: 600;
}
.close-btn:hover {
   background: rgb(197, 0, 0);
}

@keyframes moveBot {
   from {
      opacity: 0;
      transform: translateY(-10px); /* Posi칞칚o inicial (mais abaixo) */
   }
   to {
      opacity: 1;
      transform: translateY(0); /* Posi칞칚o final (no lugar certo) */
   }
}

.textpopup {
   display: flex;
   justify-content: center;
   text-align: center;
   
}
.textpopup h2 {
   font-family: "Orbitron", serif;
   font-size: 25px;
}

.popup-content img {
   width: 100%;
   border-radius: 3px;
}

/* POPUP V칈DEO 游댮*/






@media (max-width: 359px) {
   #home {
      height: 100vh;      
      margin: 0 15px;
   }
   .carousel-banner-control {
      display: none;
   }
   .banner-brands {
      display: none;
   }
   .banner-brands-mobile {
      display: block;      
   }
   .banner-mobile-media {
      display: block;
   }
   .carrossel {
      align-items: center;
      padding: 2px;
   }
   .carrossel-item {
      min-width: 100%;      
      box-sizing: border-box;
      padding: 3px;
   }
   .carrossel-inner {
      width: 30%;
   }

   .carousel-banner-item {
      width: 100%;
   }
   .modal img {
      max-width: 75%;
      max-height: 75%;
      border-radius: 5px;
   }

   #whatsapp-button {
      position: fixed;
      bottom: 35px;
      right: 10px;
      z-index: 1002;
      width: 40%;
      
   }
   #whatsapp-button a img {
      width: 100%;
   }
   .close {
      top: 0;
      right: 30px;
      font-size: 95px;
      color: rgb(255, 255, 255);
      cursor: pointer;
   }

   .popup {
      width: 100%; height: 100%;
   }
   .popup-content {
      padding: 8px;
      max-width: 75%;
   }
   .popup-content video {
      width: 100%;
      border-radius: 5px;
   }
   .close-btn {    
      font-size: 17px;
      padding: 8px;
      
   }   
   .textpopup {
      display: flex;
      justify-content: center;
      text-align: center;
      
   }
   .textpopup h2 {
      font-family: "Orbitron", serif;
      font-size: 12px;
   }
   
}


@media (min-width: 360px) and (max-width: 764px) {
   #home {
      height: 110vh;      
      margin: 0 20px;
   }
   .carousel-banner-control {
      display: none;
   }
   .banner-brands {
      display: none;
   }
   .banner-brands-mobile {
      display: block;      
   }
   .banner-mobile-media {
      display: block;
   }
   .carrossel {
      align-items: center;
   }
   .carrossel-item {
      min-width: 100%;      
      box-sizing: border-box;
      padding: 2px;
   }
   .carrossel-inner {
      width: 33%;
   }
   .modal img {
      max-width: 85%;
      max-height: 85%;
      border-radius: 5px;
   }

   .carousel-banner-item {
      width: 100%;
   }
   #whatsapp-button {
      position: fixed;
      bottom: 65px;
      right: 20px;
      z-index: 1002;
      width: 38%;
      
   }
   #whatsapp-button a img {
      width: 100%;
   }
   .close {
      top: 30px;
      right: 30px;
      font-size: 100px;
      color: rgb(255, 255, 255);
      cursor: pointer;
   }

   .popup {
      width: 100%; height: 100%;
   }
   .popup-content {
      padding: 8px;
      max-width: 90%;
   }
   .popup-content video {
      width: 100%;
      border-radius: 5px;
   }
   .close-btn {    
      font-size: 17px;
      padding: 8px;
      
   }   
   .textpopup {
      display: flex;
      justify-content: center;
      text-align: center;
      
   }
   .textpopup h2 {
      font-family: "Orbitron", serif;
      font-size: 15px;
   }
   
   
}

@media (min-width: 765px) and (max-width: 1180px) {
   #home {
      height: 100vh;      
      margin: 0 10px;
   }
   .carrossel-item {
      min-width: 100%;
   }
   .banner-mobile-media {
      display: block;
   }
   .carrossel-inner {
      width: 34%;
   }
   .banner-mobile-media {
      display: none;
   }
   .cookie-banner {
      position: fixed;
      bottom: 200px;
      left: 0;    
      width: 95%;
      font-size: 15px;
      margin: 0 20px;
      padding: 6px 2px;
      align-items: center;    
   }
   .cookie-banner i {
      font-size: 17px;
   }   
   .cookie-banner button {      
      padding: 5px 10px;
      margin: 5px;      
      font-size: 18px;
      
   }
   #whatsapp-button {
      position: fixed;
      bottom: 100px;
      right: 25px;
      z-index: 1002;
      width: 35%;
      
   }
   #whatsapp-button a img {
      width: 100%;
   }

   .popup {
      width: 100%; height: 100%;
   }
   .popup-content {
      padding: 8px;
      max-width: 80%;
   }
   .popup-content video {
      width: 100%;
      border-radius: 5px;
   }
   .close-btn {    
      font-size: 35px;
      padding: 8px;
      
   }   
   .textpopup {
      display: flex;
      justify-content: center;
      text-align: center;
      
   }
   .textpopup h2 {
      font-family: "Orbitron", serif;
      font-size: 30px;
   }
}

@media (min-width: 1181px) and (max-width: 1680px) {
   #home {
      height: 100vh;      
      margin: 0 140px;
   }
   #whatsapp-button {
      position: fixed;
      bottom: 50px;
      right: 30px;
      z-index: 1002;
      width: 17%;
      
   }
   #whatsapp-button a img {
      width: 100%;
   }

   .popup {
      width: 100%; height: 100%;
   }
   .popup-content {
      padding: 8px;
      max-width: 39%;
   }
   .popup-content video {
      width: 100%;
      border-radius: 5px;
   }
   .close-btn {    
      font-size: 28px;
      padding: 8px;
      
   }   
   .textpopup {
      display: flex;
      justify-content: center;
      text-align: center;
      
   }
   .textpopup h2 {
      font-family: "Orbitron", serif;
      font-size: 20px;
   }
}

